*{
	box-sizing: border-box;
	font-family: cursive;
}

h1 {
	text-align: center;
	font-size: 175%;
}
	

#box{
    position: relative;
	padding: 10px;
	background-color: gray;
	border: 1px solid black;
	margin: 10px;
	height:150px;
	overflow: hidden;
}

div>section{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	width:100px;
	text-align: center;
	font-size: 125%; 
	margin-bottom: 5px;
}


p {
	margin-top: 20px;
}


#one
{
	background-color: pink;
}

#two
{
	background-color: red;
	color: white;
}
#three
{
	background-color: yellow;

}

p{
	text-align: justify;
}

.row{
	width:100%;
}


@media (min-width: 992px)
{
	.col-lg-3{
		width: 33.33%;
		float: left;	
	}
} 

@media (min-width: 768px) and (max-width: 992px)
{
	.col-md-2{
		float:left;
		width: 50%;
		
	}
	.col-md-1{
		float: left;
		width: 100%;
		
	}
}

@media (max-width: 767px)
{
	.col-xs-1{
		float:left;
		width:100%;
		
	}
}
